vec4 {{name}}_render(ExtVector v, vec2 uv) {
    HighlightWrapMaterial material = {{name}};

    if(material.isHighlightOn) {
        {{#highlightMat.usesUVMap}}
            return {{highlightMat.name}}_render(v, uv);
        {{/highlightMat.usesUVMap}}
        {{^highlightMat.usesUVMap}}
            return {{highlightMat.name}}_render(v);
        {{/highlightMat.usesUVMap}}
    }

    {{#defaultMat.usesUVMap}}
        return {{defaultMat.name}}_render(v, uv);
    {{/defaultMat.usesUVMap}}
    {{^defaultMat.usesUVMap}}
        return {{defaultMat.name}}_render(v);
    {{/defaultMat.usesUVMap}}
}
