vec4 {{name}}_render(ExtVector v) {
    HighlightWrapMaterial material = {{name}};

    if(material.isHighlightOn) {
        return {{highlightMat.name}}_render(v);
    }
    return {{defaultMat.name}}_render(v);
}