vec4 {{name}}_render(ExtVector v, RelVector normal) {
    TransitionWrapMaterial material = {{name}};

    {{#mat0.usesNormal}}
        vec4 color0 =  {{mat0.name}}_render(v, normal);
    {{/mat0.usesNormal}}
    {{^mat0.usesNormal}}
        vec4 color0 =  {{mat0.name}}_render(v);
    {{/mat0.usesNormal}}

    {{#mat1.usesNormal}}
        vec4 color1 =  {{mat1.name}}_render(v, normal);
    {{/mat1.usesNormal}}
    {{^mat1.usesNormal}}
        vec4 color1 =  {{mat1.name}}_render(v);
    {{/mat1.usesNormal}}

    return (1. - material.ratio) * color0 + material.ratio * color1;
}
