vec4 {{name}}_render(ExtVector v, vec2 uv) {
    TransitionWrapMaterial material = {{name}};

    {{#mat0.usesUVMap}}
        vec4 color0 = {{mat0.name}}_render(v, uv);
    {{/mat0.usesUVMap}}
    {{^mat0.usesUVMap}}
        vec4 color0 = {{mat0.name}}_render(v);
    {{/mat0.usesUVMap}}

    {{#mat1.usesUVMap}}
        vec4 color1 = {{mat1.name}}_render(v, uv);
    {{/mat1.usesUVMap}}
    {{^mat1.usesUVMap}}
        vec4 color1 = {{mat1.name}}_render(v);
    {{/mat1.usesUVMap}}

    return (1. - material.ratio) * color0 + material.ratio * color1;
}
